<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form new Message</title>
    <form action="/add-message" method="POST">
    <label for="message">Escribe un mensaje</label>
    <input type="text" name="message" id="message">
    <br><br>
    <label for="type">Tipo de mensaje: </label>
    <select name="type" id="type">
        <option value="1">Importante</option>
        <option value="2">Normal</option>
        <option value="3">Invisible</option>
      </select>
    <input type="submit">
    </form>
</head>
<body>
    
</body>
</html>